@{
    Layout = "~/Views/Shared/_LayouthomePage.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Before PartialView</h2>
<hr />
<div id="test"></div>
<hr />
<h2>After PartialView</h2>
<script>
    setInterval(LoadAction, 1000);
    function LoadAction() {
        var time = new Date();
        $.ajax({
            type: "Post",
            url: '@Url.Action("ChildAction","Partial")',
            data: { time: time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds() },
            datatype: "json",
            success: function (data) {
                $('#test').html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        })
    }
</script>
