
@{
    ViewBag.Title = "PrintOrder";
    Layout = "~/Views/Shared/_LayouthomePage.cshtml";
}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">工单号</label>
                    <div class="layui-input-block">
                        <input type="text" name="orderid" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">工单标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">业务性质</label>
                    <div class="layui-input-block">
                        <input type="text" name="attr" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">受理人</label>
                    <div class="layui-input-block">
                        <input type="text" name="accept" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-order" lay-submit lay-filter="LAY-app-order-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table id="tabledemo" lay-filter="LAY-app-system-order"></table>

            <script type="text/html" id="table-system-order">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
            </script>
        </div>
    </div>
</div>

<script>
    renderTable(0);
    function renderTable(m) {
        layui.use(['table','element'], function () {
            var table = layui.table;
            var element = layui.element;
            //展示已知数据
            table.render({
                elem: '#tabledemo'
                , method: 'post'
                , url: '/MaintainManage/Order2Print'
                ,where:{id:@ViewBag.id,code:m}

                , toolbar: '#toolbarDemo'
                , title: '派工单'
                , totalRow: true


            , cols: [[ //标题栏
                { field: 'partReceiveID', title: '领取单ID', hide: true },
                { field: 'workOrderNum', width: 80, type: 'numbers', fixed: 'left', align: 'center' },
                { field: 'workOrderNum', title: '派工单编号', width: 150, align: 'center' },
                { field: 'partNum', title: '零件编号', width: 120, sort: 'true', align: 'center' },
                { field: 'partQuantity', title: '零件数量', width: 120, align: 'center' },
                { field: 'partEXID', title: '出库单ID', width: 120, align: 'center' },
               

            ]]
                , done: function (res, curr, count) {
                    $('th').css({ 'background-color': '#E3E9F5', 'color': '#026392' });
                    $('table').css({ 'background-color': '#EAF6F6' });
                    element.render();
                }
                //,skin: 'line' //表格风格
            , page: true
            , limit: 10
            , even: true
            , skin: 'row' //行边框风格


                //,page: true //是否显示分页
                , limits: [10]
                //,limit: 5 //每页默认显示的数量

            });

            //监听工具条
            table.on('tool(tabledemo)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if (layEvent === 'detail') { //查看
                    layer.msg(data.appointOrderID);
                    window.location.href = "/AppointManage/OrderDetail?id=" + data.appointOrderID;
                } else if (layEvent === 'delete') { //删除
                    console.log(data);
                    console.log(data.customerID);
                    layer.confirm('确认删除吗', function (index) {
                        //向服务端发送删除指令
                        deleteUser(data.customerID);
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                        layer.close(index);

                    });
                } else if (layEvent === 'print') { //打印
                    //do something
                    layer.msg(data.workOrderID);
                    window.location.href = "/MaintainManage/PrintOrder?id=" + data.workOrderID;
                    //同步更新缓存对应的值
                    obj.update({
                        username: '123'
                    , title: 'xxx'
                    });
                }
            });

        })
    };
    function deleteUser(customerID) {
        $.post('/UserManage/DeleteUser', { id: customerID }, function (res) {
            if (res == 1) {
                layer.msg("删除成功");
            } else if (res == 0) {
                layer.msg("服务器繁忙，请重试");
            }
        });
    }



</script>
