
@{
    ViewBag.Title = "SettleOrder";
    Layout = "~/Views/Shared/_LayouthomePage.cshtml";
}

<div class="layui-fluid">

    <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
        <legend>工单结算</legend>
    </fieldset>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15" id="content">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">工单信息</div>
                    <div class="layui-card-body">

                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">客户姓名</label>
                                    <div class="layui-input-inline">
                                        <input id="name" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">车牌号</label>
                                    <div class="layui-input-inline">
                                        <input id="licenseNum" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">联系电话</label>
                                    <div class="layui-input-inline">
                                        <input id="phone" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width:150px;">维保开始时间</label>
                                    <div class="layui-input-inline">
                                        <input id="startTime" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">联系地址</label>
                                    <div class="layui-input-inline">
                                        <input id="address" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width:150px;">维保完成时间</label>
                                    <div class="layui-input-inline">
                                        <input id="finishTime" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">车辆品牌</label>
                                    <div class="layui-input-inline">
                                        <input id="carBrand" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width:150px;">工时总价/元</label>
                                    <div class="layui-input-inline">
                                        <input id="total1" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">车辆型号</label>
                                    <div class="layui-input-inline">
                                        <input id="carType" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width:150px;">零件总价/元</label>
                                    <div class="layui-input-inline">
                                        <input id="total2" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">发动机号</label>
                                    <div class="layui-input-inline">
                                        <input id="engineNum" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">总价/元</label>
                                    <div class="layui-input-inline">
                                        <input id="total3" type="text" name="staffname" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                

                            </div>
         
                            <input value="0" type="hidden" id="orderId" />
                        </form>

                    </div>
                </div>
            </div>



        </div>
        <form class="layui-form">
            <div class="layui-row layui-col-space15 projects">


                <div class="project" style="display:none;">

                    <div class="layui-col-md7 PJitem">

                        <div class="layui-card">
                            <div class="layui-card-header">
                                <span>项目</span>
                                <button type="button" style="right:25px;" onclick="deleteProject(this)"><i class="layui-icon"></i></button>
                            </div>
                            <div class="layui-card-body">
                                <div class="layui-form-item">           
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="width:114px">维修项目</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" placeholder="请输入数量" class="layui-input pj" />
                                                </div>
                                            </div>
                                    </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width:114px">维修小组</label>
                                    <div class="layui-input-inline">
                                        <input type="text" placeholder="请输入数量" class="layui-input dp" />
                                    </div>


                                </div>
                            </div>
                            <div class="layui-form-item">

                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width:114px">维修工时</label>
                                    <div class="layui-input-inline">
                                        <input type="text" placeholder="请输入数量" class="layui-input wt" />
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:114px">维修零件</label>
                                <label class="layui-form-label" style="width:114px">数量</label>
                                <label class="layui-form-label" style="width:114px">金额</label>
                            </div>
                               


                            <div class="layui-form-item parts">

                                <div class="part" style="display:none;">
                                    <div class="Pitem" style="margin: 5px 10px 5px 40px;">
                                        <input class="pid" value="0" type="hidden" />
                                        <label class="pname" style="width:114px">名称</label>
                                        <label class="pnum" style="width:114px">数量</label>
                                        <label class="pprice" style="width:114px">数量</label>
                                        

                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:114px">工时总价</label>
                                <label class="layui-form-label wtPrice" style="width:114px"></label>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width:114px">零件总价</label>
                                <label class="layui-form-label pPrice" style="width:114px"></label>
                            </div>
                       

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </form>

    </div>



</div>
<button onclick="numeric()">数量</button>
<div style="margin-top: 20px;">
    <div style="margin-left:50px;margin-top:10px;margin-bottom:10px;">
        <input type="button" class="layui-btn layui-btn-radius layui-btn-normal" value="确定" onclick="check()" />
        &nbsp;&nbsp;&nbsp;
        <input type="button" class="layui-btn layui-btn-radius layui-btn-primary" value="返回" onclick="goback()" />
    </div>
</div>
<script>
    function render() {
        layui.use('form', function () {
            var form = layui.form;

            form.render();
        });
    }


    layui.use(['form','laydate'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        form.on('select(pselect1)', function (data) {
            var item = data.elem;
            $.post('/DepartManage/ClassSelect', { num: data.value }, function (res) {
                var htmls = "";
                for (var x in res) {
                    htmls += '<option value = "' + res[x].classID + '">' + res[x].className + '</option>';
                }
                $(item).parent().parent().find(".pselect2").html(htmls);
                $(item).parent().parent().find(".pselect3").html("");

                render();

            });


        });
        form.on('select(pselect2)', function (data) {
            var item = data.elem;
            $.post('/MaintainManage/PartSelect', { id: data.value }, function (res) {
                var htmls = "";
                for (var x in res) {
                    htmls += '<option value = "' + res[x].partID + '">' + res[x].partName + '</option>';
                }
                $(item).parent().parent().find(".pselect3").html(htmls);

                render();
            })
        });

        function setTime(){
            $('.ordertime').each(function(){
                laydate.render({
                    elem:this,
                    trigger:"click",
                    type:'datetime',
                    format:'yyyy/M/d H:m:s'
                });
            });
        }
        setTime();
        $("#addPJ").click(function(){
            var time = "<label class='layui-form-label' style='width:114px;'>完成时间</label>"+
                                        "<div class='layui-input-inline'>"+
                                            "<input type='text' class='layui-input ordertime' placeholder='yyyy-MM-dd HH:mm:ss'>"+
                                        "</div>"
            var content = $('.project').html();
            $('.projects').append(content);
            $('.projects').find('.settime').last().append(time);
            form.render();
            setTime();
        })



    });

</script>
<script>
            function numeric() {
                //根据div标签ID拿到div中的局部内容
                var bdhtml=window.document.body.innerHTML; 
                var jubuData = $("#content").html();
                //把获取的 局部div内容赋给body标签, 相当于重置了 body里的内容
                window.document.body.innerHTML= jubuData; 
                //调用打印功能
                window.print();
                window.document.body.innerHTML=bdhtml;//重新给页面内容赋值；
                return false;
            }

            $("#name").bind('input porpertychange', function () {
                console.log("e");
            });
            function addProject() {

                var content = $('.project').html();
                $('.projects').append(content);
                render();



            }

            function deleteProject(obj) {
                layer.confirm('确定删除吗?', { icon: 3, title: '提示' }, function (index) {
                    //do something
                    var Index = $(obj).parent().parent().parent().index();
                    $(obj).parent().parent().parent().remove();
                    layer.close(index);
                    layer.msg(Index);
                });

            }
            function addPart(obj) {
                var id = $(obj).parent().parent().prev().find('.pselect3').val();
                var name = $(obj).parent().parent().prev().find('.pselect3').find('option:selected').text();
                var num = $(obj).prev().find('.pinput').val();
                $('.part').find('.pid').val(id);
                $('.part').find('.pname').text(name);
                $('.part').find('.pnum').text(num);
                var content = $('.part').html();
                $(obj).parent().parent().next().append(content);
                render();
            }

            function deletePart(obj) {
                var Index = $(obj).parent().index();
                layer.msg(Index);
                $(obj).parent().remove();
            }


            loadData();

            function loadData() {

                $.post('/MaintainManage/LoadSettleOrder', {id : @ViewBag.id}, function (res) {

                    $("#orderId").val(res.maintainOrderID);
                    $("#name").val(res.customerName);
                    $("#phone").val(res.phone);
                    $("#address").val(res.address);
                    $("#carBrand").val(res.carBrand);
                    $("#carType").val(res.carType);
                    $("#engineNum").val(res.engineNum);
                    $("#licenseNum").val(res.lincense);
                    $("#startTime").val(res.startTime);
                    $("#finishTime").val(res.finishTime);
                    $("#expectedPrice").val(res.expectedPrice);
                    $("#expectedTime").val(res.expectedTime);
                    var orders = res.orders;
                    var htmls;
                    var totalWorkTimePrice = 0,totalPartPrice = 0;
                    for(var x in orders){

                        $(".project").find(".pj").attr('value',orders[x].projectName);
                        $(".project").find(".dp").attr('value',orders[x].departNum);
                        $(".project").find(".wt").attr('value',orders[x].workTime);
                        $(".project").find(".wtPrice").text(orders[x].workTime*100);
                        var parts = orders[x].parts;
                        var pPrice = 0;
                        for(var y in parts){
                            $(".part").find(".pname").text(parts[y].partName);
                            $(".part").find(".pnum").text(parts[y].partAmount);
                            $(".part").find(".pprice").text(parts[y].partPrice);
                            pPrice += parts[y].partPrice;
                            var html = $(".part").html();
      
                            $(".project:hidden").find(".parts").append(html);
                        }
                        
                        $(".project").find(".pPrice").text(pPrice);
                        var content = $(".project").html();
                        var part = $(".part:hidden").prop("outerHTML");
                        console.log(content);
                        $(".projects").append(content);
                        $(".project:hidden").find(".parts").empty();
                        $(".project:hidden").find(".parts").append(part);
                        totalWorkTimePrice += orders[x].workTime*100;
                        totalPartPrice += pPrice;
                        
              
                        
                       
                    }
                    $("#total1").attr("value",totalWorkTimePrice);
                    $("#total2").attr("value",totalPartPrice);
                    $("#total3").attr("value",totalPartPrice+totalWorkTimePrice);

               
                    
                    render();
                    
                    
                });

            }

            function goback() {
                window.location.href = "/MaintainManage/MaintainorderIndex";
            }

            function check() {
                var projects = new Array();
                $(".projects").children(".PJitem").each(function(){
                    var i = $(this).index()-1;
                    var project = new Object();
                    var parts = new Array();
                    project.pjId = $(this).find(".pjselect").val();
                    project.dpId = $(this).find(".dpselect").val();
                    project.time = $(this).find(".ordertime").val();
                    $(this).find(".parts").children(".Pitem").each(function(){
                        var index = $(this).index()-1;
                        var Id = $(this).find(".pid").val();
                        var Amount = $(this).find(".pnum").text();
                        var part = {partId: Id, amount:Amount};
                        parts[index] = part;
                    });
                    project.parts = parts;
                    projects[i] = project;

                });
                var order = JSON.stringify(projects);
                $.post('/maintainManage/AddWorkOrderResult', { orders: order, id : $("#orderId").val()
                }, function (res) {
                    console.log(res);
                    if (res == 1) {
                        setTimeout(function () {
                            layer.msg("添加成功！");
                            window.location.href = "/MaintainManage/MaintainorderIndex";
                        }, 500);

                    }
                    else if (res == 0) {
                        layer.msg("添加失败，请重试。");
                    }
                });
            }
            function load(value) {
                $.post('/DepartManage/PositionSelect', { id: value }, function (res) {
                    console.log(value);
                    var result = res.data;
                    var htmls = "";
                    for (var x in result) {
                        htmls += '<option value = "' + result[x].classNum + '">' + result[x].className + '</option>';
                    }
                    $("#position").html(htmls);
                    render();

                });
            }

</script>
