@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayouthomePage.cshtml";
}

<div class="layadmin-tabsbody-item layui-show">
    <iframe src="~/Layuiview/home/console.html" frameborder="0" class="layadmin-iframe"></iframe>
</div>